## Nulos a analizar
- Subcuenta: es el código que se le dá a las cuentas contable, cambiaría a categórica. Tien 5% nulos
- Cliente: Identificador del cliente, cambiaría a categórica. Tiene 1,72% de nulos

In [1]:
import pandas as pd

In [2]:
df_o = pd.read_excel('../data/data_limpios.xlsx')
df_o.sample(2)

,estrato,linea_venta,descripción_linea_v,subcuenta,descripción_subcuen,concepto,cliente,cont/proy,línea,importe,i/c,resultado,responsable,Fecha
25623,38,83,serv. deportivos,680,NaN,amort.elemento0327454 crit.a,511390.0,22,8371,1736,3,-1736,Mercedes_Hernandez,2023-06-01
44347,16,14,serv. auxiliares,617,cargas sociales,seguros soc.mec. 09/2023,783310.0,11,64,3,3,-3,Mercedes_Hernandez,2023-09-01

In [3]:
df = df_o.copy()

In [7]:
df.isnull().mean()*100

estrato                0.000000
linea_venta            0.000000
descripción_linea_v    0.000000
subcuenta              0.000000
descripción_subcuen    4.999834
concepto               0.000000
cliente                1.724653
cont/proy              0.000000
línea                  0.000000
importe                0.000000
i/c                    0.000000
resultado              0.000000
responsable            0.000000
Fecha                  0.000000
dtype: float64

In [12]:
df_nulos = df.loc[:,df.isnull().sum()>0]
df_nulos

          descripción_subcuen   cliente
0                  materiales  337190.0
1          sueldos y salarios       NaN
2          sueldos y salarios       NaN
3          sueldos y salarios  918140.0
4          sueldos y salarios  918140.0
...                       ...       ...
60297  ing. subvenc. al psnal  783310.0
60298  ing. subvenc. al psnal  783310.0
60299                     NaN  783310.0
60300  ing. subvenc. al psnal  783310.0
60301         cargas sociales  766090.0

[60302 rows x 2 columns]

In [20]:
df_nulos['cliente'] = df_nulos['cliente'].astype('category')

C:\Users\Ruth\AppData\Local\Temp\ipykernel_14124\1559381329.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nulos['cliente'] = df_nulos['cliente'].astype('category')

In [21]:
df_nulos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60302 entries, 0 to 60301
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   descripción_subcuen  57287 non-null  object
 1   cliente              59262 non-null  category
dtypes: category(1), object(1)
memory usage: 609.9+ KB

Solo hay nulos en dos columnas categóricas

In [22]:
for col in df_nulos.select_dtypes(include=['O','category']).columns:
    print(col.upper())
    display(df[col].value_counts()/df.shape[0]*100)
    print('--------')

DESCRIPCIÓN_SUBCUEN

descripción_subcuen
cargas sociales             30.048755
sueldos y salarios          16.508574
amort. inmov. material       9.571822
serv. aux. terceros          7.615004
produccion valorada spyc     6.031309
materiales                   4.888727
comunicaciones               3.265232
alquileres                   2.792611
trabajos subcontratados      2.641703
serv. pendientes factur.     2.283506
uniformes                    1.475905
otros gtos.de personal       1.344897
serv. aux. empr. grupo       1.051375
horas extra                  0.946901
gastos de viaje              0.931976
rep.,consv.y otros gasto     0.631820
dietas                       0.615237
facturac.sist.anterior       0.461013
relaciones publicas          0.333322
material de oficina          0.276939
agua y energia               0.220557
prov.insolv. clientes        0.184073
ing. subvenc. al psnal       0.160857
ing.prest.serv.personal      0.152565
jurid.contenc./sanciones     0.145932
formacion prof. empleo       0.106132
indemnizaciones despido      0.104474
prov responsabilidades       0.063016
transp.y fletes ventas       0.041458
impuestos                    0.038141
coste actvo. fijo b/v.       0.031508
serv.emp.grupo pend.fra.     0.009950
vtas. activo fijo            0.008292
indemnizaciones              0.004975
otras ventas                 0.004975
publicidad y propaganda      0.003317
perd.cred.com.incobrabl.     0.003317
Name: count, dtype: float64

--------
CLIENTE

cliente
994300.0    5.596829
523620.0    4.129216
766090.0    3.893735
762080.0    3.847302
410410.0    2.766077
              ...
985770.0    0.001658
124130.0    0.001658
122890.0    0.001658
120080.0    0.001658
118760.0    0.001658
Name: count, Length: 599, dtype: float64

--------

### Gestion columna cliente. Como es tan sólo un 1,72% de los datos los sustuiré por desconocidos

In [23]:
df['cliente'] = df['cliente'].cat.add_categories(['desconocido'])
df['cliente'] = df['cliente'].fillna('desconocido')

### Gestión columna descripcion_subcuen. Como sólo tiene un 5% de nulos haré lo mismo que con clientes sustituire por sin clasificar

In [24]:
df['descripción_subcuen'] = df['descripción_subcuen'].fillna('sin_descripción')